<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <div fxFlex >
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{dish.image}} alt={{dish.name}}>
          <mat-card-content>
            <p>{{dish.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]">B</button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <button mat-button [routerLink]="['/dishdetail', next]">N</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h1>Comments</h1>
<mat-list  *ngFor="let comm of dish.comments">
    <li style="list-style: none;">{{comm.comment}}</li>
   <li style="list-style: none;">{{comm.rating}} Stars</li>
   
   <li style="list-style: none;">-- {{comm.author}} {{comm.date | date}} </li>
  <mat-list-item></mat-list-item>
</mat-list>
<div *ngif="!disableSubmitButton">
  <mat-list-item>
    <h4 matline="">{{candidateComment.comment}}</h4>
    <p matline="">{{candidateComment.rating}} Stars</p>
    <p matline="">
      <span>--{{candidateComment.author}} {{candidateComment.date | date: 'longDate'}}</span>
    </p>
  </mat-list-item>
</div>
<form *ngIf="dish" novalidate="" [formGroup]="commentFeedBackForm" #cform="ngForm" (ngsubmit)="onSubmit()">
  <mat-form-field style="width: 600px;">
    <input matinput="" formcontrolname="author" placeholder="Name" type="text" required="">
    <mat-error *ngif="commentFormErrors.author">{{commentFormErrors.author}}</mat-error>
  </mat-form-field>
  <p>
    <mat-slider #slider="" class="mat-slide-3" thumblabel="" formcontrolname="rating" tickinterval="1" max="5" min="1" name="rating" required=""></mat-slider>
  </p>
  <mat-form-field style="width: 600px;">
        <textarea matinput="" formcontrolname="comment" placeholder="Your Comment" rows="12">            </textarea>
  </mat-form-field>
  <p>
    <mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-button="" type="submit" class="background-primary text-floral-white" [disabled]="disableSubmitButton" (click)="tryAddComment(candidateComment)">Submit
      </button>
    </mat-dialog-actions>
  </p>
</form>
  </div>


</div>